body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to top,grey,white);
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 50px;
}

.calculator {
    width: 300px;
    margin: 0 auto;
    background-color: #353838;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(243, 241, 241, 0.2);
    padding: 10px;
}

#result {
    width: 82%;
    height: 70px;
    font-size: 24px;
    text-align: right;
    border: none;
    margin-bottom: 10px;
    outline: none;
    border-radius: 15px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}

button {
    padding: 10px;
    font-size: 30px;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f2f2f2;
    color: #333;
}

button:hover {
    background-color: #be4dac;
}
